/* Custom Global Styles */

html {
    /* Smooth scrolling for better user experience */
    scroll-behavior: smooth;
}

body {
    /* Ensure the font is consistent across the app */
    font-family: 'Instrument Sans', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}